@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Used for Students in High School to add a Professional they would like to Shawdow so they can get a better idea of what they would
    like to do later in a career.</p>
