@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    171 ivywood lane<br />
    Roswell, GA<br />
    <abbr title="Phone">Phone Number:</abbr>
    423-489-6862
</address>

<address>
    <strong>Email:</strong> <a href="mailto:BrandonFugate22.bf@gmail.com">BrandonFugate22.bf@gmail.com</a><br />
    
</address>
